@media(min-width: 1800px){

}

@media(min-width: 1400px){
}

@media(min-width: 1200px){ 
    .container {max-width: 1210px;}
}
@media(min-width: 991px){
}
@media(max-width: 1280px){
}
@media(max-width: 1199px){
}
@media(max-width: 991px){
}
@media(max-width: 767px){    
    /* Handle */
    .other_menu ul::-webkit-scrollbar-thumb {background: #fff; }
    /* Handle on hover */
    .other_menu ul::-webkit-scrollbar-thumb:hover {background: #fff; }
}
@media(max-width: 575px){
}
@media(max-width: 480px){	
}
@media(max-width: 420px){
}